/**
 * @file
 * Css to override Gin admin theme styling.
 */

/* Set the width of the table columns like they are on the moderation tab */
td.views-field-title {
  max-width: 644px;
}

/* Ensure Site Studio sidebar browser doesn't interfere with node editing. */
.gin--edit-form.coh-element-browser {
  padding-right: var(--ginSidebarWidth) !important;
}

.gin--vertical-toolbar.ssa-element-browser-modal-open,
.gin--horizontal-toolbar.ssa-element-browser-modal-open {
    padding-left: var(--ginSidebarWidth) !important;
}

.gin--vertical-toolbar.ssa-element-browser-modal-open[data-toolbar-menu=open] {
    padding-left: calc(var(--ginSidebarWidth) + var(--ginToolbarWidth)) !important;
}

.gin--vertical-toolbar.ssa-element-browser-modal-open #ssa-sidebar-browser {
  left: var(--ginToolbarWidthCollapsed) !important;
}

.gin--vertical-toolbar.ssa-element-browser-modal-open[data-toolbar-menu=open] #ssa-sidebar-browser {
  left: var(--ginToolbarWidth) !important;
}
